<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <!-- Preguntamos si esta vacio con el isEmpty y mostramos no hay usuarios -->
    <div th:if="${usuarios.isEmpty()}">No Hay Usuario en la base de datos</div>

    <!-- preguntamos si no esta vacio muestra la tabla -->
    <!-- el not solo lo usamos cuando el metodo que usamos retorna un booleano -->
    <table th:if="${not usuarios.isEmpty()}">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <!-- el each lo vamos a poner en el la etiqueta que queremos que se repita -->
            <!-- en este caso queremos crear un renglon por cada usuario en la bd o array -->
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>